@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.shop-category-component {
    @include media-breakpoint-up(md) {
        padding: 2em 4em;
    }
    @include media-breakpoint-up(xs) {
        padding: 1em 2em;
    }
}

.shop-category-header {
    color: $shop-category-header-color;
    font-family: $shop-category-font;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: $shop-category-header-font-weight;
    @include media-breakpoint-up(lg) {
        font-size: $shop-category-header-font-size-lg;
        padding-right: 4em;
    }
    @include media-breakpoint-up(md) {
        font-size: $shop-category-header-font-size-md;
        padding-right: 2em;
    }
    @include media-breakpoint-up(xs) {
        font-size: $shop-category-header-font-size-xs;
    }
}

.shop-category-column {
    max-width: 100%;
}

.shop-category-label {
    font-family: $shop-category-font;
    text-decoration: underline;
    text-align: center;
    white-space: nowrap;
    padding: 0.375em 0.5em;
    margin: auto;
    font-size: $shop-category-label-font-size-def;
    @include media-breakpoint-up(lg) {
        font-size: $shop-category-label-font-size-lg;
    }
    @include media-breakpoint-up(md) {
        padding: 0.625em 1.5em;
    }
}

.shop-category-label-a {
    color: $shop-category-label-a-color !important;
}
