@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.mainbanner-figure {
    margin: 0;
    width: 100%;
    position: relative;
}

.mainbanner-image {
    width: 100%;
    height: 43.75vw;
    object-fit: cover;
    object-position: var(--focal-point-x) var(--focal-point-y);
    filter: brightness(40%);

    @include media-breakpoint-down(xs) {
        height: 75vw;
    }
}

.mainbanner-heading-container {
    position: absolute;
    bottom: 40%;
    width: 100%;

    @include media-breakpoint-up(sm) {
        padding-left: 3em;
    }

    @include media-breakpoint-up(md) {
        padding-left: 3em;
    }

    @include media-breakpoint-up(lg) {
        padding-left: 4em;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 5em;
    }
}

.mainbanner-heading-text {
    font-size: $banner-heading-font-size-xs;
    font-weight: bold;
    font-family: $banner-font;
    color: white;

    @include media-breakpoint-up(sm) {
        font-size: $banner-heading-font-size-sm;
    }

    @include media-breakpoint-up(md) {
        font-size: $banner-heading-font-size-md;
    }

    @include media-breakpoint-up(lg) {
        font-size: $banner-heading-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
        font-size: $banner-heading-font-size-xl;
    }
}

.mainbanner-sub-text span {
    font-size: 1.5em;
    font-weight: 325;
    font-family: $banner-font;
    color: white;
    text-decoration: underline;

    @include media-breakpoint-down(xs) {
        font-size: 1em;
    }
}
