@import "../variables";

$dark-blue: #061c3f;

$text-color: white;
$black: #000;
$dark-gray: #212020;
$light-gray: #d8d8d8;
$bold: bold;
$font-weight: 325;
$imageText-color : $text-color;

$banner-font: "Helvetica Neue" !default;
$banner-heading-font-size-xl: 6em !default;
$banner-heading-font-size-lg: 4em !default;
$banner-heading-font-size-md: 4em !default;
$banner-heading-font-size-sm: 3em !default;
$banner-heading-font-size-xs: 1.875em !default;

$imageText-font: "Helvetica Neue" !default;
$imageText-font-size-lg: 3em !default;
$imageText-font-size-md: 2em !default;
$imageText-font-size-sm: 1em !default;
$imageText-font-size-xs: 1.875 !default;

$shop-category-font: "Helvetica Neue" !default;
$shop-category-header-color: #222 !default;
$shop-category-header-font-color-other: white !default;
$shop-category-header-font-weight: 900 !default;
$shop-category-header-font-size-def: 1.125em !default;
$shop-category-header-font-size-md: 1.5em !default;
$shop-category-header-font-size-lg: 1.875em !default;
$shop-category-label-font-size-def: 0.75em !default;
$shop-category-label-font-size-md: 1em !default;
$shop-category-label-font-size-lg: 1.25em !default;
$shop-category-label-a-color: #212529 !default;
$shop-category-label-a-color-other: white !default;

$product-tile-font: "Helvetica Neue" !default;
$product-tile-name-color: #212529 !default;
$product-tile-price-color: #222 !default;
$product-tile-price-strike-through-color: #999 !default;
$product-tile-price-reduced-price-color: #c23934 !default;
$product-tile-ratings-number-color: #495057 !default;
$product-tile-quick-shop-box-shadow-color: rgba(0, 0, 0, 0.4) !default;
$product-tile-swatch-box-shadow-color: #ddd !default;
$product-tile-swatch-box-shadow-active-color: #666 !default;
$product-tile-more-swatch-color: #444 !default;


$grid-gutter-width: 30px !default;
