@import "../variables";

$dark-blue: #061c3f;

$text-color: white;

$banner-font: "Helvetica Neue" !default;
$banner-heading-font-size-xl: 6em !default;
$banner-heading-font-size-lg: 4em !default;
$banner-heading-font-size-md: 4em !default;
$banner-heading-font-size-sm: 3em !default;
$banner-heading-font-size-xs: 1.875em !default;
