@import "bootstrap/scss/mixins/breakpoints";
@import "../../variables";

.mobile-3r-2c {
    .grid-col {
        overflow: hidden;

        @include media-breakpoint-only(xs) {
            height: 11.875rem;
        }

        @include media-breakpoint-up(sm) {
            height: 16.25rem;
        }

        @include media-breakpoint-up(lg) {
            height: 26.25rem;
        }
    }
}
