@import "bootstrap/scss/mixins/breakpoints";
@import "../../variables";

.look-book-layout {

    // try with class name custom-gutter#
    .look-book-set1 {

        @include media-breakpoint-up(sm) {
            .custom-gutter1 {
                padding-left: $grid-gutter-width / 2;
                padding-right: $grid-gutter-width / 4;
            }
            .custom-gutter2 {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 2;
            }
            .custom-gutter3 {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 2;
            }
        }
    }

    .look-book-set2 {

        @include media-breakpoint-up(sm) {
            .custom-gutter4 {
                padding-left: $grid-gutter-width / 2;
                padding-right: $grid-gutter-width / 4;
            }
            .custom-gutter5 {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 4;
            }
            .custom-gutter6 {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 2;
            }
        }
    }

    .show-more,
    .hide-more {
        text-align: center !important;

        @include media-breakpoint-up(sm) {
            display: none;
        }
    }

    .look-book-set2 {
        @include media-breakpoint-only(xs) {
            display: block;
        }
    }

    .look-book-set2.hide-set {
        @include media-breakpoint-only(xs) {
            display: none;
        }
    }

    .shopthelook-image {
        padding-left: 0;
        padding-right: 0;
    }

}
